* {
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 10rem;
    resize: vertical;
}

.wordSelected {
    color: white;
}

.wordNotSelected {
    color: gray;
}

.typeError {
    color: red;
}

.typeCorrect {
    color: green;
}

.typeSelected {
    font-weight: bold;
}

.typeNotSlected {

}
